{% extends 'layout2.html' %}

{% block content %} 
<div class="rounded-3 m-5 pt-2" id="contact"> 
  
  <form class="m-4" method="POST">
    {% csrf_token %}
    <h2 id="subtitulo m-4">CONTACT</h2>
    <div class="mb-3">
        <label  class="form-label">Full Name</label>
        <input id="cname" type="text" class="form-control" name="nombre" >
      </div>
    <div class="mb-3 col">
      <label class="form-label">Email address</label>
      <input id="cemail" type="email" class="form-control" name="correo">
      <div class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label  class="form-label">Subject</label>
      <input type="text" class="form-control" name="asunto" >
    </div>
    <div class="mb-3">
      <label  class="form-label">Message</label>
      <textarea name="mensaje" class="form-control" aria-label="With textarea"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-4 mb-4">Submit</button>
  </form>
</div>

{% endblock %}