{% extends 'layout2.html' %}

{% block content %}

<div class="d-flex justify-content-center">
<img id="imgpro" class="img-fluid" src="{{ project.image.url }}" alt="">
</div>

<div class="d-flex justify-content-center m-5">
<a id="arrow" href="#desc" class="text-dark fw-bold"><ion-icon id="arrow2"  name="chevron-down-outline"></ion-icon></a>
</div>



<div id="desc" class="d-flex justify-content-center">
<div class="text-center">
    <div class="">
      <h5 id="bigtitle2" class="">{{project.title}}</h5>
      
      <p class="m-4">{{ project.description }}</p>

    </div>
  </div>
</div>
<p></p>



{% endblock %}